{% extends "base.html.twig" %}

{% block body %}




{{ form_start(formEmployes)}} 


     {{ form_row(formEmployes.prenom) }}
     {{ form_row(formEmployes.nom) }}
     {{ form_row(formEmployes.telephone) }}
   {{ form_row(formEmployes.email) }}
    {{ form_row(formEmployes.adresse) }}
     {{ form_row(formEmployes.poste) }}
      {{ form_row(formEmployes.salaire) }}
       {{ form_row(formEmployes.datedenaissance) }}

 
 <button type="submit" class="btn btn-primary mt-2">
    {% if editMode %}
      Enregistrer les Modification
    {% else %}
     Ajouter un employé
     {% endif %}
 
 </button>
{{ form_end(formEmployes)}} 
{% endblock %}