{% extends "base.html.twig" %}

{% block title %} liste employes{% endblock %}
{% block body %}



<table class="table table-dark table-striped">
	<thead>
		<tr>
            <th>#</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
	</thead>
	<tbody>
{% for employes in all %}
    

        <tr>
            <td>{{employes.id}}</td>
            <td>{{employes.nom}}</td>
            <td>{{employes.prenom}}</td>
            <td>{{employes.telephone}}</td>
            <td>{{employes.adresse}}</td>
            
            <td>{{employes.poste}}</td>
            <td>{{employes.salaire}}</td>
            <td>{{employes.email}}</td>
            <td>
                <a href="/employes/edit/{id}"><button type="submit" class="btn btn-warning mt-2">Modifier</button></a>
                <a href="/employes/delete/{{employes.id}}"><button type="submit" class="btn btn-danger mt-2">Supprimer</button></a>

            </td>
        </tr>
{% endfor %}
    </tbody>

</table>


{# <a  href="{{path('employes_create')}}"><button class="btn btn-primary">Nouvelle voiture</button></a> #}






 {% endblock %}